<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/company/style.main.css' %}" />
  </head>
  <body class="w-full min-h-full bg-gradient-to-br from-emerald-50 via-teal-50 to-cyan-50 p-6 font-sans">